<form action="/api/todo/login/" method="post">
    <p>
        <label for="Member">Login name</label>
        <input type="text" name="member" id="member" autofocus /><br>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" /><br>
        <input type="submit" />
    </p>

</form>