<form action="/todo/update/" method="post">
    <p>
        <label for="newtodo">What shoud I do?</label>
        <input type="text" name="updatedtodo" id="updatedtodo" autofocus />
        <input type="submit" />
    </p>
</form>