<form action="/todo/update/" method="post">
    <p>
        <label for="newtodo">What shoud I do?</label>
        <input type="text" name="updatedtodo" id="updatedtodo" autofocus />
        <label for="newtodo">Assigned to whom?</label>
        <input type="text" name="updatedmember" id="updatedmember"  />
        <label for="newtodo">Priority</label>
        <input type="text" name="updtprior" id="updtprior" />
        <input type="submit" />
    </p>
</form>